@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:black;
    --bg:#010103;
    --border:1rem solid rgba(42, 2, 2, 0.2);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 1s linear;
}
html{
    font-size: 12px;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
    
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;

}
body{
    background-color: var(--bg);

}
.header{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    border-bottom: var(--border);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}
.header .logo img{
    height: 6rem;
    border-radius: 50px     ;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #fff;
    
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: 5px;
}
.header .icons div{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none;
} 
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;

}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 1.5rem;
    color: var(--black);
    padding-right: 1.5rem;
}
.header .search-form label:hover{
    color: var(--main-color);
}